@if (OnClick == null) 
{
    <a class="Button" href="@Href">
        @Label
    </a>
}
else 
{
    <button class="Button" type="button" @onclick="@(() => OnClick?.Invoke())">
        @Label
    </button>
}

@code {
    [Parameter] public string Label { get; set; } = "";
    [Parameter] public string Href { get; set; } = "/";
    [Parameter] public Action? OnClick { get; set; }
}
