<div class="Introduction">
    <h1>Negocie criptoativos com simplicidade e segurança.</h1>
    <p>Faça depósitos e saques instantâneos com Pix: 24 horas por dia, 7 dias por semana.</p>
    <Button Label="Entrar" Href="/" />
</div>
