<span class="MenuButton @Modifier" @onclick="@(() => OnClick?.Invoke())"></span>

@code {
    [Parameter] public string Modifier { get; set; } = "default";
    [Parameter] public Action? OnClick { get; set; }
}