.MenuButton {
    width: 50px;
    height: 30px;
    background-size: 45px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    display: block;
}

.MenuButton.default {
    background-image: url(/img/icons/menu.svg);
}

.MenuButton.white {
    background-image: url(/img/icons/menu-white.svg);
}

@media (max-width: 768px) {
    .MenuButton {
        width: 40px;
        height: 20px;
        background-size: 35px;
    }
}