.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 4rem;

    > * {
        width: 100%;
        max-width: 45%;
    }
}

@media (max-width: 992px) {
    .container {
        display: block;

        > * {
            max-width: none;
        }

        > div {
            margin-bottom: 2rem;
        }
    }
}

@media (max-width: 768px) {
    .container {
        padding-top: 2rem;
    }
}
