<footer class="Footer">
    <ul class="menu">
        <li>
            <Link Href="/" Label="Limites" />
        </li>
        <li>
            <Link Href="/" Label="Taxas e prazos" />
        </li>
        <li>
            <Link Href="/" Label="Termos de uso" />
        </li>
    </ul>
    <p>Powered by Transfero</p>
</footer>