<footer class="Footer">
    <ul class="menu">
        <li>
            <a href="/">Limites</a>
        </li>
        <li>
            <a href="/">Taxas e prazos</a>
        </li>
        <li>
            <a href="/">Termos de uso</a>
        </li>
    </ul>
    <p>Powered by Transfero</p>
</footer>