<header class="Header">
    <div className="nice-transition-all">
        <div class="wrap">
            <a href="/">
                <img src="/img/logo.svg" alt="Transfero Logo" />
            </a>
            <div class="actions">
                <LocaleSwitcher />
                <MenuButton OnClick="HandleOnOpenMenu" />
            </div>
        </div>
    </div>
</header>

@code {
    [Inject] public AppState? Context { get; set; }

    public void HandleOnOpenMenu()
    {
        if (Context != null) 
        {
            Context.SetIsMenuOpen(true);
        }
    }
}