.Index {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 4rem;
}

.Index ::deep > * {
    width: 100%;
    max-width: 45%;
}

@media (max-width: 992px) {
    .Index {
        display: block;
    }

    .Index ::deep > * {
        max-width: none;
    }

    .Index ::deep > div {
        margin-bottom: 2rem;
    }
}

@media (max-width: 768px) {
    .Index {
        padding-top: 2rem;
    }
}
